{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EditarRegistros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="shortcut icon" href="../static/assets/logotipo.png">

</head>
<body class="image-background">
        <nav class="navBar">
                <img
                    src="../assets/IsoLogotipo.png"
                    alt=""
                >
            </nav>
            <div class="decorativeBarTop">

        </div>
        <div class="container">
          <div class="col-md-4 offset-md-4">
            <h1 class="title-boxes fw-bold">Editar Diagnóstico</h1>
            <form method="POST" class="card card-body bg-secondary">
                {% csrf_token %}
                {% for form in forms %}
                <div class="card card-body bg-secondary mb-2">
                    <label for="">{{ form.label }}</label>
                    <input
                    type="{{ form.field.widget.input_type }}"
                    name="{{ form.name }}"
                    id=""
                    placeholder="{{ form.label }}"
                    value="{{ form.value | default:'' }}"
                    class="form-control mb-2"
                    >
                </div>

                {% endfor %}

                <div class="main-form--edit_buttons">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a href={% url 'registros' %} role="button" class="btn btn-danger mt-2">Cancelar</a>
                </div>
            </form>
          </div>
        </div>
    </main>
    <footer>
        <h6>
            Grupo Primates. Tecnicatura Universitaria en Programación UTN.
            2023.
        </h6>
    </footer>
  </body>
</html>