{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Health Secure</title>
        <link rel="stylesheet" href="../static/style.css" />
        <link rel="shortcut icon" href="../static/assets/logotipo.png">
    </head>
    <body>
        <nav class="navBar">
            <img
                src="../static/assets/IsoLogotipo.png"
                alt=""
            />
        </nav>
    <div class="decorativeBarTop">

    </div>
        <main class="mainSection">
            <div class="textContainer">
                <p>
                    Health Secure™ es un sistema básico creado con la finalidad
                    de ayudar a profesionales de la salud, en el registro de
                    historiales clínicos de pacientes. Permite leer, añadir,
                    editar y borrar los datos ingresados en tiempo real.
                </p>
               <table class="tablaIntegrates">
                   <thead class="titleTable">
                  <tr>
                     <th>#</th>
                     <th>Integrantes del grupo</th>
                </tr>
                  </thead>
                <tr>
                  <th>1</th>
                  <th>Barra, Mauricio</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>Choquevillca, Tania</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th>Herrera, Osman</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th>Lopez, Andrés</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th>Patané, Valentino</th>
                </tr>
                <tr>
                  <th>6</th>
                  <th>Reinoso, Agustín</th>
                </tr>
                <tr>
                  <th>7</th>
                  <th>Rinaldi, Lucas</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th>Sgandurra, Nicolás</th>
                </tr>
              </table>
            </div>
            <div class="buttonContainer">
                <a href="registros">Ver Historiales</a>
                <img
                    src="https://cdn9.dissolve.com/p/D985_16_527/D985_16_527_1200.jpg"
                    alt=""
                />
            </div>
        </main>
        <div class="decorativeBarBot"></div>
        <footer>
            <h6>
                Grupo Primates. Tecnicatura Universitaria en Programación UTN.
                2023.
            </h6>
        </footer>
    </body>
</html>
